.Agregar {
  background: orange;
  color: white;
  width: 105%;
  border-style: none;
  font-size: 104%;
}
#Tabla {
  color: #fff;
    background-color: #343a40;
    width: 50%;
    margin-left: 1%;
}
.containerTablaBreak {
  display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    margin-left: 0%;
}