@media (min-width:300px) and (max-width:2000px){
*{
  padding:0%;
  margin: 0%;
}
.containerHome {
  display:flex;
  width: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3%;
}
.botones {
  display: flex;
  flex-direction: column;
  height: 35vh;
  align-content: center;
  justify-content: center;
  width: 32%;
}
#btn {
  width: 100%;
  margin-top: 27%;
  height: 8vh;
  border-radius: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 49px;
}
.logo {
  width:50%;
}
}