@media (min-width:300px) and (max-width:5000px){
*{
  padding:0%;
  margin: 0%;
}
.containerHome {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 3%;
}
.botones {
  display: flex;
  flex-direction: column;
  height: 31vh;
  align-content: center;
  justify-content: center;
  width: 45%;
}

.logo {
  width:50%;
}
h1 {
  color: darkorange;

font-size: xxx-large;
}
}