#pedidos {
  width:50%;
  margin-right: 1%;
  margin-left:1%
}

.Eliminar {
  color: white;
  background: rgba(131, 8, 8, 0.753);
  font-size: 100%;
  width: 100%;
  border-style: none;
}

.Enviar {
  color: white;
  background: rgb(255, 159, 15);
  font-size: 100%;
  width: 100%;
  border-style: none;
}