*{
  padding: 0%;
  margin: 0%;
}
body{
  background: url("https://images.assetsdelivery.com/compings_v2/mironovak/mironovak1505/mironovak150500116.jpg");

}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center
}